<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="c:\temp\InternalLogFile.txt">

    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <variable name='logDir' value='Logs' />
    <variable name='logDirSeparate' value='Separate' />
    <variable name='logInfo' value='InfoLogFile' />
    <variable name='logDebug' value='DebugLogFile' />
    <variable name='logTrace' value='TraceLogFile' />

    <targets>
      <target 
        name="InfoLogFile" 
        xsi:type="File" 
        fileName="${logDir}/${logInfo}.txt" 
        archiveFileName="${logDir}/${logInfo}_{#}.txt"
        archiveEvery="None"
        archiveNumbering="Rolling"
        maxArchiveFiles="2"
        enableArchiveFileCompression="false"
        concurrentWrites="true"
        archiveOldFileOnStartup="true"
        layout="${longdate} | ${level:padding=-5:uppercase=true} | ${logger:shortname=true:padCharacter=.:padding=-40} | ${message}${exception:format=tostring}" 
      />
      <target 
        name="DebugLogFile" 
        xsi:type="File" 
        fileName="${logDir}/${logDebug}.txt" 
        archiveFileName="${logDir}/${logDebug}_{#}.txt"
        archiveEvery="None"
        archiveNumbering="Rolling"
        maxArchiveFiles="2"
        enableArchiveFileCompression="false"
        concurrentWrites="true"
        archiveOldFileOnStartup="true"
        layout="${longdate} | ${level:padding=-5:uppercase=true} | ${callsite:className=true:methodName=true:padCharacter=.:padding=-60} | ${message}${exception:format=tostring}" 
      />
      <target 
        name="TraceLogFile" 
        xsi:type="File" 
        fileName="${logDir}/${logTrace}.txt" 
        archiveFileName="${logDir}/${logTrace}_{#}.txt"
        archiveEvery="None"
        archiveNumbering="Rolling"
        maxArchiveFiles="2"
        enableArchiveFileCompression="false"
        concurrentWrites="true"
        archiveOldFileOnStartup="true"
        layout="${longdate} | ${level:padding=-5:uppercase=true} | ${callsite:className=true:methodName=true:padCharacter=.:padding=-60} | ${message}${exception:format=tostring}" 
      />
      <target
        name="Separate"
        xsi:type="File"
        fileName="${logDir}/${logDirSeparate}/${logger}.txt" 
        archiveFileName="${logDir}/${logDirSeparate}/${logger}_{#}.txt"
        archiveEvery="None"
        archiveNumbering="Rolling"
        maxArchiveFiles="2"
        enableArchiveFileCompression="false"
        concurrentWrites="true"
        archiveOldFileOnStartup="true"        
        layout="${longdate} | ${level:padding=-5:uppercase=true} | ${callsite:className=false:methodName=true:padCharacter=.:padding=-30} | ${message}${exception:format=tostring}" 
      />
      <target 
        name="lifetimeConsole" 
        xsi:type="Console" 
        layout="${level:padding=-5:uppercase=true} | ${logger} ${newline}      | ${message}${exception:format=tostring}" 
      />
    </targets>
  
      

    <rules>
      <!-- Стандартный лог уровня INFO и выше -->
      <logger name="*" minlevel="Info" writeTo="InfoLogFile" />
      <!-- Лог сообщений только уровня Debug -->
      <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="DebugLogFile" />
      <!-- Лог сообщений только уровня Trace -->
      <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="TraceLogFile" />
      <!-- Раздельные логи, по каждому объекту -->
      <logger name="*" minlevel="Debug" writeTo="Separate" />
      <!-- Вывод в консоль -->
      <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" />
    </rules>
</nlog>